<?xml version="1.0" ?>
<model>
    <name>walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Johvany Gustave</name>
        <email>johvany.gustave@ipsa.fr</email>
    </author>

    <description>
        The limits of the environment
    </description>
</model>
